
/* ===================================
   FOOTER
=================================== */
.footer {
  padding: 25px 10px;
  background: linear-gradient(90deg, #002b2c, #004547, #002b2c);
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 40px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
}

.footer p {
  opacity: 0.9;
  transition: 0.3s;
}

.footer p:hover {
  opacity: 1;
}


@media screen and (max-width: 768px) {
 .footer {
    color: #2caac1;
    font-size: 10px;
    letter-spacing: 0.2px;
       background: linear-gradient(70deg, #08444e, #000000);
  }
}
