/* ===ENCABEZADO==== */
header {
  width: 100%;
}

/* ===OCULTAMOS YA QUE LO OCUPAMOS EN VERSION MOVIL==== */
.header_movil {
  display: none;
}
.close-btn {
  display: none;
}

/* ===OCULTAMOS LOS INPUTS ES POR ESTETICA==== */
#menu-toggle {
  display: none;
}
#servicios {
  display: none;
}

/* ===ESTILOS DEL CONTENEDOR DEL MENU Y EL LOGOTIPO==== */
.nav-menu {
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

/* ===ESTILOS DEL CONTENEDOR DEL MENU==== */
.nav-menu ul {
  display: flex;
background: linear-gradient(70deg, #000000, #00393b);
  list-style: none;
  margin-right: 40px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* ===ESTILOS DEL CONTENEDOR DE LAS OPCIONES DEL MENU==== */
.nav-menu li {
  margin: 5px 20px;
}

/* ===ESTILOS DE LAS OPCIONES DEL MENU==== */
.nav-menu a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.nav-menu a:hover {
  color: #2caac1;
  font-weight: bold;
}

/* ===ESTILOS DE LA OPCION QUE CONTIENE EL SUBMENU==== */
.nav-menu ul li label {
  cursor: pointer;
  color: #ffffff;
}

.nav-menu ul li label:hover {
  color: #2caac1;
  font-weight: bold;
}

/* ===ESTILOS DEL CONTENEDOR QUE CONTIENE EL SUBMENU==== */
.nav-menu .submenu {
  margin-top: 15px;
position: absolute;
  display: none;
  background: linear-gradient(70deg, #000000, #00393b);
  flex-direction: column;
  max-width: 150px;
  z-index: 999;
  border-radius: 10px;
}
/* ===ESTILOS PARA ABRIR EL SUBMENU==== */
#servicios:checked + .btn-servicios + .submenu {
  display: flex;
}


/* ===ESTILOS PARA LA PORTADA==== */
.portada {
  width: 100%;
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.portada .contenido-portada {
  padding: 20px 20px 80px 20px;
  text-align: center;
}
/* ===ESTILOS TITULO DE LA PORTADA==== */
.portada .contenido-portada .texto-portada h1 {
  color: #ffffff;
  font-size: 140px;
  margin-top: 120px;
}
/* ===ESTILOS SUBTITULO DE LA PORTADA==== */
.portada .contenido-portada .texto-portada h2 {
  color: #00e1ff;
  font-size: 55px;
  margin-top: 10px;
}
/* ===ESTILOS PARRAFO DE LA PORTADA==== */
.portada .contenido-portada .texto-portada p {
  color: #ffffff;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 90px;
}
/* ===ESTILOS BOTON DE LA PORTADA==== */
.portada .contenido-portada .btn-contacto a {
  background: linear-gradient(70deg, #000000, #00393b);
  text-decoration: none;
  padding: 5px 40px;
  font-size: 35px;
  border: 2px solid #009ba1;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.portada .contenido-portada .btn-contacto a:hover {
  background: linear-gradient(70deg, #000000, #00283b);
  font-weight: bold;
}



/* ===ESTILOS VERSION MOVIL==== */


@media screen and (max-width: 768px) {
  .header_movil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: linear-gradient(70deg, #000000, #08444e);
  }
  .logo_PC {
    display: none;
  }
  .menu-btn {
     color: #2caac1;
    font-size: 44px;
    border-radius: 10px;
 
  }

  .close-btn {
    display: flex;
    font-size: 44px;
    color: red;
    justify-content: end;
    margin-right: 10px;
  }

  .nav-menu {
    all: unset;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -90%;
    width: 50%;
    height: 100vh;
    background: linear-gradient(70deg, #08444e, #000000);
    transition: right 0.3s ease;
     overflow-y: auto;
     padding: 10px;
     align-items: center;
  }
  #menu-toggle:checked ~ .nav-menu {
    right: 0;
    }
  .nav-menu ul {
   all: unset;
   margin-top: 0;
    list-style: none;

  }

  .nav-menu li {
    margin: 40px 0;
  }
  .nav-menu a {
     display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
  }
  .nav-menu a:active {
    color: #2caac1;
    font-weight: bold;
  }

  .nav-menu ul li label {
   display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
  }

  .nav-menu ul li label:active{
    color: #2caac1;
    font-weight: bold;
  }

  .nav-menu .submenu {
    all: unset;
    display: none;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
   
  }

   .nav-menu ul li:active .submenu {
    display: flex;
  }
  #servicios:checked + .btn-servicios + .submenu {
     max-height: 200px;
  }


  .portada {
  width: 100%;
  background-image: url("../img/portada.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  }
  .portada .contenido-portada {
    padding: 10px 10px 80px 10px;
    text-align: center;
  }
  .portada .contenido-portada .texto-portada h1 {
    font-size: 55px;
    margin-top: 10px;
  }
  .portada .contenido-portada .texto-portada h2 {
   font-size: 20px;
  }
  .portada .contenido-portada .texto-portada p {
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .portada .contenido-portada .btn-contacto a {
    padding: 5px 40px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
}