* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #e4e4e4;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
}